:root {
    --theme-text-color: whitesmoke;
    --theme-text-hover-color: rgb(135, 172, 228);
    --theme-text-background-color: #20294d;
    --border-radius: 18px;

    --scroll-bar: #20294d;
    --scroll-bar-hover: #2d365b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #16193B;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--theme-text-color);
}

.flex-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin: 0px 25px;
    margin-bottom: 20px;
    padding: 40px 10px;

    border-bottom: 1px solid var(--theme-text-color);

}

.header-title {
    display: flex;
    flex-direction: row;

    padding: 15px 20px;
    background-color: var(--theme-text-background-color);
    border-radius: var(--border-radius);
}

.header-title img {
    animation: image-load 1s ease forwards;
}

.header-title h1 {
    font-size: 25px;
}

.header-nav {
    display: flex;
    background-color: var(--theme-text-background-color);
    border-radius: var(--border-radius);

    animation: slide-down 1s ease forwards;
}

.header-nav li {
    margin: 5px 25px;
    list-style-type: none;
    font-size: large;

    transition: all 0.5s ease;
    padding: 15px 20px;
}

.header-nav li:hover {
    transform: translateY(-3px);
}

.header-nav a {
    text-decoration: none;
    color: var(--theme-text-color);
    transition: all 0.3s ease;
}

.header-nav a:hover {
    text-decoration: none;
    color: var(--theme-text-hover-color);
}

#selected {
    font-weight: bold;
}

.about-website {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 40px 150px;
    margin-bottom: 120px;
    padding: 40px;

    border: 1px solid transparent;
    border-radius: var(--border-radius);
    background-color: var(--theme-text-background-color);

    animation: slide-right 1s ease forwards;
}

.about-website .info {
    font-size: 18px;
}


footer {
    border-top: 1px solid var(--theme-text-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
    margin: 0px 25px;
    
}

@keyframes slide-right {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-left {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes background-animation {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 50% 60%;
    }
    75% {
        background-position: 0 50%;
    }
}

@keyframes image-load {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

::-webkit-scrollbar {
    width: .6vw;
}
  
::-webkit-scrollbar-track {
    background: var(--scroll-bar)
}

::-webkit-scrollbar-thumb {
    background: var(--theme-text-background-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-bar-hover);
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
    }
}