.authors {
    margin: 40px 500px;
    margin-bottom: 120px;
    padding: 40px;
}

@media screen and (max-width: 1440px) {
    .authors {
        width: 50%;
        margin: 25px 0 25px 0;
    }
}


@media screen and (max-width: 768px) {
    .authors {
        width: 100%;
        margin: 25px 0 25px 0;

    }
}