.authors {
    margin: 40px 500px;
    margin-bottom: 120px;
    padding: 40px;
}

@media screen and (max-width: 768px) {
    .authors {
        margin: 0;
    }
}

@media screen and (max-width: 1440px) {
    .authors {
        margin: 0;
    }
}