.rating {
    display: flex;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

input[type="text"] {
    width: 120px;
}

.stars {
    flex-direction: row;
}

.hidden {
    opacity: 0;
    width: 0;
    height: 0;
}

.star_off {
    color: black;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
    -webkit-text-fill-color: white;
}

.star_on {
    color: yellow;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
    transition: 200ms;
}

table {
    border: 1px solid whitesmoke;
    border-radius: 12px;

    margin-top: 25px;
}

table td,
tr,
th {
    border: 1px transparent whitesmoke;
}

@media screen and (max-width: 1440px) {
    .rating {
        width: 50%;
        margin: 25px 0 25px 0;
    }
}

@media screen and (max-width: 768px) {
    .rating {
        width: 100%;
        margin: 25px 0 25px 0;
    }
}
