.statistics {
    margin: 40px 500px;
    margin-bottom: 120px;
    padding: 40px;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

table td,
tr,
th {
    border: 1px solid black;
}

img {
    width: 100px;
}

@media screen and (max-width: 1440px) {
    .statistics {
        width: 50%;
        margin: 25px 0 25px 0;
    }
}


@media screen and (max-width: 768px) {
    .statistics {
        width: 100%;
        margin: 25px 0 25px 0;

    }
}