.statistics {
    margin: 40px 500px;
    margin-bottom: 120px;
    padding: 40px;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

table td,
tr,
th {
    border: 1px solid black;
}

img {
    width: 100px;
}